<div class="p-grid">
  <div class="p-col-1"></div>
  <div class="p-col-10">
    <p-card header="Abfallkalender iCal export" subheader="Würzburg"  styleClass="p-card-shadow">
      <ng-template pTemplate="header" style="height: 150px;" >
          <img  alt="Abfallkalender Download" src="assets/pattern.jpg" [style]="{'height':'150px'}" style="object-fit: cover;">
      </ng-template>
      <p>Hallo das ist ein kleines Tool zum Download the Würzburger Abfallkalenders als *.ics Datei für PC & Mobil</p>
      <h5>Wähle deine Straße</h5>
      <p-listbox filterPlaceHolder="Suche" [options]="streetData" [filter]="true"  [(ngModel)]="selectedStreet" optionLabel="name" [listStyle]="{'max-height':'300px'}" ></p-listbox>
      <ng-template pTemplate="footer">
          <p-button [style]="{'width':'100%'}" (click)="getEvents()" label="Kalender download" icon="pi pi-cloud-download"></p-button>
      </ng-template>
  </p-card>
  
  </div>
  <div class="p-col-1"></div>
</div>